header{
    background-color: rgb(0, 0, 0);
    padding: 25px;
    margin: 10px;
    font-size: 30px;
    
    border-radius: 15px;
    
    
    
}

.all{
    margin: 10px;
    border: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

h1{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position: relative;
left: 825px;

}

.tx1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 600px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}